<?xml version="1.0" encoding="UTF-8"?>
<manifest>

    <!-- System -->
    <project path="system/bt" name="android_system_bt" remote="lluvia" />
    <project path="system/core" name="android_system_core" remote="lluvia" />
    <project path="system/extras" name="android_system_extras" remote="lluvia" />
    <project path="system/qcom" name="android_system_qcom" remote="lluvia" />
    <project path="system/netd" name="android_system_netd" remote="lluvia" />
    <project path="system/sepolicy" name="android_system_sepolicy" remote="lluvia" />
    <project path="system/vold" name="android_system_vold" remote="lluvia" />
    <project path="system/tools/dtbtool" name="android_system_tools_dtbtool" remote="lluvia" />
    <project path="system/update_engine" name="android_system_update_engine" remote="lluvia"/>
</manifest>
